<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <h2> <%=1+2  %> </h2>
    <h2> <%= "Mehboob Arshad .toUpperCase() %></h2>
    <h2> <%= ["hello", "bye", "again"] [2]  %> </h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit voluptates praesentium mollitia qui veritatis cumque explicabo. Adipisci doloremque quia aut repellat sed, consectetur quibusdam minima assumenda, veniam saepe obcaecati quam.</p>
</body>
</html>